<template name="card">
  {{# if selected }}<strong>{{/ if }}
  <a class="card rank-{{ rank }} {{ suit }}" title="{{ title rank }} of {{ title suit }}">
    <span class="rank">{{ rank }}</span>
    <span class="suit">&{{ suit }};</span>
  </a>
  {{# if selected }}</strong>{{/ if }}
</template>
