<head>
  <title>cribbage</title>
</head>

<body>
  <div class="container">
  {{ renderPage }}
  </div>
</body>

<template name="index">
  <h1><button id="create" class="btn btn-primary">Create a New Game</button></h1>
  or
  <h1><button id="join" class="btn btn-success">Join a Friend</button></h1>
</template>

<template name="join">
  <form>
    <input id="game_id" placeholder="Enter Game Code...">
    <button>Join</button>
</template>

<template name="waiting">
  <h1>Game Code: {{ game.slug }}</h1>
  <ul>
    {{# each game.players }}
    <li>{{ . }}</li>
    {{/ each }}
  </ul>
  <h3>Waiting for opponent...</h3>
</template>

<template name="game">
  <div class="row">
    <div class="col-9">
      <table class="table">
        <tr>
          <th>Your Hand</th>
        </tr>
        <tr>
          <td>
            <div class="alert alert-info">
              {{# unless sentCrib }}
              Select two cards to put into the crib
              {{ else }}
              Waiting for your opponent to send their crib
              {{/ unless }}
            </div>
            <div class="playingCards">
              <ul class="table">
                {{# each hand }}
                <li>{{> card }}</li>
                {{/ each }}
              </ul>
            </div>
            {{# unless sentCrib }}
            <button id="to_crib" class="btn btn-primary" {{# unless selectedCount 2 }}disabled="disabled"{{/ unless }}>
              Send to Crib
            </button>
            {{/ unless }}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-3">
      <table class="table">
        <tr>
          <th>Player</th>
          <th>Score</th>
          <th>Games</th>
        </tr>
        {{# each game.players }}
        <tr>
          <td>
            {{ player_name }}
            {{# if dealer }}
            <strong>D</strong>
            {{/ if }}
          </td>
          <td>{{ score }}</td>
          <td>{{ games }}</td>
        </tr>
        {{/ each }}
      </table>
    </div>
  </div>
</template>
